In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.1.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [26.7 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,263 kB]
Get:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,420 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [510 kB]
Get:18 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:19 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [62.9 kB]
Ign:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [695 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,786 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,699 kB]
Get:24 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [914 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,195 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [39.4 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [544 kB]
Get:28 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.9 kB]
Get:29 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.1 kB]
Fetched 13.6 MB in 5s (2,675 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-08-10 14:03:34--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  5.37MB/s    in 0.2s

2021-08-10 14:03:35 (5.37 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

### Load Amazon Data into Spark DataFrame

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_multilingual_DE_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|    product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         DE|      10133| RVOG49N0H1FB6|B004TACMZ8|     569741360|Bosch GMS120 Ortu...|    Home Improvement|          5|            0|          0|   N|                Y|               Super|Delivery took a l...| 2014-08-01|
|         DE|      19612| RNCMD6OLTP4HM|1846071224|     785505948|The Wheels On The...|               Books|          5|            1|          1|   N|                Y|   Great compilation|We enjoy listenin...| 2014-12-04|
|         DE|      19612| R4AUOBI8YC0R8|0375851569|     516548029|Dr. Seuss's  Begi...|               Books|          5|            0|          0|   N|                Y|    Great Collection|Very great compil...| 2014-12-04|
|         DE|      19677|R1VSHIJ1RHIBTE|B0060SVG54|     302116447|   Zwei an einem Tag|           Video DVD|          5|            0|          0|   N|                Y|    Guter Verfilmung|Den Film habe ich...| 2015-07-16|
|         DE|      19999|R3JBLVALWSLCZD|B00EYQ6CVC|     368843515|Dr. House - Die k...|           Video DVD|          5|            9|         14|   N|                Y|    Kauft diese Box!|Die Box ist super...| 2014-02-08|
|         DE|      20014| RJ6GK77Y2NKCK|B00MC1CCAG|     663681053|     This is England|Digital_Video_Dow...|          4|            6|          7|   N|                Y|Guter Film mit pa...|Sehr guter Film m...| 2014-11-11|
|         DE|      20152| R13W0E5EDX50J|B005D7FKWI|     182054491|Seiko Herren-Armb...|             Watches|          5|            0|          1|   N|                Y|           tolle uhr|habe die Uhr jetz...| 2013-10-04|
|         DE|      20152|R2L8UN6YSPY1CK|B007W9KQ9W|     251269761|Battleship [Blu-ray]|           Video DVD|          3|            1|          3|   N|                Y|         popkornkino|die geschichte sc...| 2013-10-04|
|         DE|      20152| RA2DFU68J832H|B005F3DFXG|     283218719|Planet Dinosaur [...|           Video DVD|          4|            1|          1|   N|                Y|     planet dinosaur|englische Origina...| 2013-10-04|
|         DE|      20152|R191XKANDDV34N|B00EYXGOYK|     678332854|Thor  (+ BR) [3D ...|           Video DVD|          4|            0|          1|   N|                Y| schönes popcornkino|der film ist wirk...| 2013-11-29|
|         DE|      20152| RD2NWWDF0S2B9|B00BRC6PYU|     715581077|Cirque du Soleil:...|           Video DVD|          4|            0|          0|   N|                N|         schöne doku|cameron hat hier ...| 2014-05-21|
|         DE|      20152|R35SNJXI0Y9J1T|B00DZFMC4Y|     542832677|Star Wars: The Cl...|           Video DVD|          5|            1|          2|   N|                Y|        gute staffel|wie die Vorgänger...| 2014-05-21|
|         DE|      20152| RINDU5W9G6K4N|B00F6MQUTW|     827187473|Prometheus - Dunk...|           Video DVD|          4|            1|          4|   N|                N|         tolles kino|bis auf das offen...| 2014-05-21|
|         DE|      20152| RST7O96P1CQ1W|B007IPJDWQ|     316484262| The Thing [Blu-ray]|           Video DVD|          4|            0|          0|   N|                Y|    kein kurt russel|der film ist dem ...| 2014-05-21|
|         DE|      20376|R1XHO93RQTYDOC|B009WIJW7S|     888030084|Vielleicht lieber...|           Video DVD|          5|            0|          0|   N|                Y|         Toller Film|Ich möchte gar ni...| 2013-11-20|
|         DE|      20376|R36ZVPG9CLQ9AA|B008JR9DEA|      49567875|Falling Skies - D...|           Video DVD|          5|            0|          3|   N|                Y|         Tolle Serie|Ich finde Falling...| 2013-11-20|
|         DE|      20402|R1V0KMT27C9V2T|B0041LG08U|     377907320|Seiko Herren-Armb...|             Watches|          5|            2|          3|   N|                Y|    very very glossy|unglaublich was s...| 2013-06-16|
|         DE|      20426| RKAV2XKT05EMW|B00HFVE8QE|     590459143|  Skateboard Party 2|         Mobile_Apps|          4|            1|          4|   N|                Y|k&ouml;nnte noch ...|spielt sich wie d...| 2015-01-31|
|         DE|      20426|R2BPDAX4D5S1WK|B00QUY6MZM|     672024888|        Interstellar|           Video DVD|          5|            0|          4|   N|                Y|Bester Sci-Fi Fil...|Für Sci-Fi-Fans u...| 2015-05-15|
|         DE|      20426|R3FI2HPM7ZDHUP|B00CA3C1N4|     276804524|     Starlink (Full)|         Mobile_Apps|          5|            0|          0|   N|                Y|Dieses Spiel mach...|Hier vereinen sic...| 2015-06-20|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

### Create DataFrames to match tables

In [5]:
from pyspark.sql.functions import to_date
# Read in the Review dataset as a DataFrame
clean_review_df = df.select(["customer_id"])
clean_review_df.show()

+-----------+
|customer_id|
+-----------+
|      10133|
|      19612|
|      19612|
|      19677|
|      19999|
|      20014|
|      20152|
|      20152|
|      20152|
|      20152|
|      20152|
|      20152|
|      20152|
|      20152|
|      20376|
|      20376|
|      20402|
|      20426|
|      20426|
|      20426|
+-----------+
only showing top 20 rows

In [15]:
# Create the customers_table DataFrame
customers_df = df.groupby(df["customer_id"]).agg({["customer_id", "min"]}).withColumnRenamed("customer_id", "customer_count")
# 'customer_id' : ['sum', 'min'], 'customer_count' : ['min', 'max']
customers_df.show()

TypeError: ignored

In [ ]:
# Create the products_table DataFrame and drop duplicates. 
products_df = df.select(['product_id']).drop_duplicates()

In [ ]:
# Create the review_id_table DataFrame. 
# Convert the 'review_date' column to a date datatype with to_date("review_date", 'yyyy-MM-dd').alias("review_date")
review_id_df = df.select([, to_date("review_date", 'yyyy-MM-dd').alias("review_date")])

In [ ]:
# Create the vine_table. DataFrame
vine_df = df.select([])

### Connect to the AWS RDS instance and write each DataFrame to its table.

In [ ]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://josep-amazon-reviews.cn04rfli5rb1.us-east-1.rds.amazonaws.com:5432/amazon_reviews"
config = {"user":"postgres", 
          "password": "<password>", 
          "driver":"org.postgresql.Driver"}

In [ ]:
# Write review_id_df to table in RDS
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [ ]:
# Write products_df to table in RDS
# about 3 min
products_df.write.jdbc(url=jdbc_url, table='products_table', mode=mode, properties=config)

In [ ]:
# Write customers_df to table in RDS
# 5 min 14 s
customers_df.write.jdbc(url=jdbc_url, table='customers_table', mode=mode, properties=config)

In [ ]:
# Write vine_df to table in RDS
# 11 minutes
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)